

 .original-title
 {
    background-color: #123C69;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    color: white;
    font-family: 'Courier New';
}

 .summary-title
  {
    background-color: #123C69;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    color: white;
    font-family:'Courier New';
  } 

  .srt
  {
    display: flex;
    flex-direction: row;
  }

  .originalTxt
  {
  background-color: #EDC7B7;
    padding: 20px;
  box-shadow:4px 4px 4px 4px #123C69;
  }

  .summaryTxt
  {
    background-color: #EDC7B7;
    padding: 20px;
    margin-left: 10px;
    box-shadow:4px 4px 4px 4px #123C69;
  }

  .heading
  {
    font-family: w3-cursive;
    font-weight: bold;
    display: flex;
   justify-content: center;
  }

  .lead
  {
    display: flex;
   justify-content: center;
  }

  /*
  .submitBtn
  {
    border-radius: 50%;
    background-color: #04aa12; /* Green 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  */
  /*.btn
  {
    border-radius: 50%;
    background-color: #04aa12; /* Green 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .btn
  {
    border-radius: 50%;
    background-color: #04aa12; /* Green 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  */
.form-control
{
    width: 60px;
    height: 200px;
}